/* Mathjax */
.theorem {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 1rem 3rem;
    font-size:1.16rem;
    font-weight:600;
    font-style: normal;
    background: #E3F2FD;
    padding:1rem;
}
.theorem:before {
    content: "Theorem.";
    font-weight: bold;
    font-style: normal;
}

.exercise {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 1rem 3rem;
    font-size:1.16rem;
    font-style: normal;
    background: #E3F2FD;
    padding:1rem;
}
.exercise:before {
    content: "习题.";
    font-weight: bold;
    font-style: normal;
}

.lemma {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 12px 0;
    font-style: italic;
}
.lemma:before {
    content: "Lemma.";
    font-weight: bold;
    font-style: normal;
}
.proof {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 1rem 3rem;
    font-style: normal;
    padding:1rem;
}
.proof:before {
    content: "Proof.";
    font-weight: bold;
    font-style: italic;
}
.proof:after {
    content: "\25FC";
    float:right;
}

.solution {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 1rem 3rem;
    font-size:1.16rem;
    font-style: normal;
    padding:1rem;
}
.solution:before {
    content: "解答.";
    font-weight: bold;
    font-style: normal;
}
.solution:after {
    content: "\25FC";
    float:right;
}


.definition {
    font-family: Microsoft Yahei, Helvetica, Arial, sans-serif;
    display: block;
    margin: 12px 0;
    font-style: normal;
}
.definition:before {
    content: "Definition.";
    font-weight: bold;
    font-style: normal;
}